<div id="<%= dom_id model %>">
  <p>
    <strong>Buddies:</strong>
    <%= model.Buddies %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= model.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= model.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= model.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= model.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= model.twitter %>
  </p>

</div>
